.App {
    padding: 0;
    margin: 0;
    font-family:'Montserrat' ;
}

.App-header {
    display: flex;
    flex-direction: row;
    background-color:#0F52BA;
    justify-content: space-between;
    align-items: center;
}

.Title {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    color: #FFFFFF;
    padding-left: 5%;
    gap: 10px;
}